/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/NEWS
/README
/VERSION
/acinclude.m4
/aclocal.m4
/amcompat.m4
/ar-lib
/autom4te.cache
/compile
/config.*
/config4build
/configure
/install-sh
/libtool
/ltmain.sh
/m4lib
/missing
/stamp-h1
/tools